<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<% cache ['users', Article.latest] do %>
  <% @articles.each do |article| %>
    <% cache ['entry', article] do %>
      <div class="entry">
        <%= image_tag(article.image_url) %>
        <h3><%= sanitize(article.title) %></h3>
        <%= sanitize(article.body) %>
      </div>
    <% end %>
  <% end %>
<% end %>




<%= link_to 'Change Username/Password', edit_user_path(@user) %>
