<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<p>
  <strong>User Name:</strong>
  <%= @user.name %>
</p>

<% cache ['users', Article.latest] do %>
  <% @articles.each do |article| %>
    <% cache ['entry', article] do %>
      <div class="entry">
        <%= image_tag(article.image_url) %>
        <h3><%= sanitize(article.title) %></h3>
        <p><%= sanitize(article.byline) %></p>
        <%= link_to 'Delete Article', article, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
  <% end %>
<% end %>

<br>
<%= link_to 'Change Username/Password', edit_user_path(@user) %>
<br>
<%= link_to 'Delete User', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
