<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1><%= t('.title_html') %></h1>

<% cache ['home', Article.latest] do %>
  <% @articles.each do |article| %>
    <% cache ['entry', article] do %>
      <div class="entry">
      	<br>
        <%= image_tag(article.image_url) %>
        <h2><%= sanitize(article.title) %></h2>
        <%= sanitize(article.byline) %>
        <%= sanitize(article.name) %>
        <br>
      </div>
    <% end %>
  <% end %>
<% end %>
