<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1><%= t('.title_html') %></h1>

<% cache ['home', Article.latest] do %>
  <% @articles.each do |article| %>
    <% cache ['entry', article] do %>
      <div class="entry">
        <%= image_tag(article.image_url) %>
        <h3><%= sanitize(article.title) %></h3>
        <%= sanitize(article.body) %>
      </div>
    <% end %>
  <% end %>
<% end %>
