<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, cols: 100 %>
  </div>
  <div class="field">
    <%= f.label :byline %><br>
    <%= f.text_field :byline, cols: 100 %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body, rows: 30, cols: 100 %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br>
    <%= f.text_field :image_url %>
  </div>
   <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :value => @user.name, :readonly => true %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category, cols: 100 %>
  </div><div class="actions">
    <%= f.submit %>
  </div>
<% end %>
