<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<center>
  <%= image_tag(@article.image_url, :size => "640x480") %>

<p>
  <strong><h2>
  <%= sanitize(@article.title) %>
  </h2></strong>
</p>

<p>
  <strong><h3>
  <i><%= sanitize(@article.byline) %></i>
  </h3></strong>
</p>

</center>

<p>
  <b> <%= sanitize(@article.body) %></b>
</p>

<%= link_to 'Back', trending_path %>
