<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1><%= "Music Feed" %></h1>

<% cache ['home', Article.latest] do %>
  <% @articles.each do |article| %>
    <% cache ['entry', article] do %>
      <div class="entry">
        <br>
        <%= link_to image_tag(article.image_url), article_path(article.id) %>
        <h2><i><%= link_to sanitize(article.title), article_path(article.id) %></i></h2>
        <p><b><%= sanitize(article.byline) %></b></p>
        <p><%= sanitize(article.name) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <i>Categories: <%= sanitize(article.category) %> <%= sanitize(article.category2) %></i></p>
        <br>
      </div>
    <% end %>
  <% end %>
<% end %>
